#goorm_top .yuimenubaritem .yuimenubaritemlabel {
	font-family:Verdana, Arial, 굴림체, 굴림;
	color:#000000;
}
#goorm_top .yuimenubaritem .yuimenubaritemlabel-selected {
	color:#000000;
	background-image:linear-gradient(bottom, rgb(200,200,200) 10%, rgb(150,150,150) 90%);
	background-image:-ms-linear-gradient(bottom, rgb(200,200,200) 10%, rgb(150,150,150) 90%);
	background-image:-webkit-linear-gradient(bottom, rgb(200,200,200) 10%, rgb(150,150,150) 90%);
	background-image:-webkit-gradient(linear, left bottom, left bottom, color-stop(0.1, rgb(200,200,200)), color-stop(0.9, rgb(150,150,150)));
	background-image:-moz-linear-gradient(bottom, rgb(200,200,200) 10%, rgb(150,150,150) 90%);
	background-image:-o-linear-gradient(bottom, rgb(200,200,200) 10%, rgb(150,150,150) 90%);
}
#goorm_top .yuimenubar {
	background:none;
}
#goorm_top .main_toolbar .toolbar_button {
	background:none;
}
#goorm_top .main_toolbar .toolbar_button:hover {
	background:none;
}
#goorm_top .main_toolbar .toolbar_button:active {
	background:none;
}
.yui-skin-sam .yui-layout .yui-layout-unit-top div.yui-layout-bd {
}
#goorm_left.yui-navset .yui-nav {
}
#goorm_left.yui-navset .yui-nav a:hover, #goorm_left.yui-navset .yui-nav a:focus {
	background:#BFDAFF url(../../../lib/com.yahoo.developer.yui/build/assets/skins/sam/sprite.png) repeat-x left -1300px;
}
#goorm_left.yui-navset .yui-nav .selected a, #goorm_left.yui-navset .yui-nav .selected a:focus, #goorm_left.yui-navset .yui-nav .selected a:hover {
	background:none;
}
#goorm_left .yui-navset .yui-nav {
}
#goorm_inner_layout_right.yui-navset .yui-nav {
}
#goorm_inner_layout_right.yui-navset .yui-nav a:hover, #goorm_inner_layout_right.yui-navset .yui-nav a:focus {
	background:#BFDAFF url(../../../lib/com.yahoo.developer.yui/build/assets/skins/sam/sprite.png) repeat-x left -1300px;
}
#goorm_inner_layout_right.yui-navset .yui-nav .selected a, #goorm_inner_layout_right.yui-navset .yui-nav .selected a:focus, #goorm_inner_layout_right.yui-navset .yui-nav .selected a:hover {
	background:none;
}
#goorm_inner_layout_right.yui-navset .yui-nav {
}
#goorm_inner_layout_bottom.yui-navset .yui-nav {
}
#goorm_inner_layout_bottom.yui-navset .yui-nav a:hover, #goorm_inner_layout_bottom.yui-navset .yui-nav a:focus {
	background:#BFDAFF url(../../../lib/com.yahoo.developer.yui/build/assets/skins/sam/sprite.png) repeat-x left -1300px;
}
#goorm_inner_layout_bottom.yui-navset .yui-nav .selected a, #goorm_inner_layout_bottom.yui-navset .yui-nav .selected a:focus, #goorm_inner_layout_bottom.yui-navset .yui-nav .selected a:hover {
	background:none;
}
#goorm_inner_layout_bottom.yui-navset .yui-nav {
}
#goorm_inner_layout_center.yui-navset .yui-nav {
}
#goorm_inner_layout_center.yui-navset .yui-nav a:hover, #goorm_inner_layout_center.yui-navset .yui-nav a:focus {
	background:#BFDAFF url(../../../lib/com.yahoo.developer.yui/build/assets/skins/sam/sprite.png) repeat-x left -1300px;
}
#goorm_inner_layout_center.yui-navset .yui-nav .selected a, #goorm_inner_layout_center.yui-navset .yui-nav .selected a:focus, #goorm_inner_layout_center.yui-navset .yui-nav .selected a:hover {
	background:none;
}
#goorm_inner_layout_center.yui-navset .yui-nav, #workspace_window_list {
}
