extends layout

block content
	body.yui-skin-sam
		#goorm(style='display:none;')
	
		#goorm_top.yui-navset
			include goorm/mainmenu
			#goorm_main_toolbar.main_toolbar(style='float:left;')
	
		#goorm_left.yui-navset
	
		#goorm_center_inner_layout.yui-navset
			#goorm_inner_layout_right.yui-navset
			#goorm_inner_layout_center.yui-navset
			#goorm_inner_layout_bottom.yui-navset
	
		#goorm_bottom.yui-navset
			div(style='float:left; width:100%')
				#goorm_statusbar_device_type
					div(style='float:left; margin-right:4px;')
						img(src='images/org.goorm.core.layout/device.png')
					.device_type 
	
				#goorm_statusbar_goorm_version
					div(style='float:left; margin-right:4px;')
						img(src='images/org.goorm.core.layout/version.png')
					.goorm_version
	
				#goorm_statusbar_version
					div(style='float:left; margin-right:4px;')
						img(src='images/org.goorm.core.layout/browser.png')
					.browser_name
	
				div(style='float:right;')
					#goorm_statusbar_message
					#goorm_loading_indicator
						img(src='')
					#goorm_progress_bar
	
		#goorm_menu_container
		#goorm_dialog_container
		
		#fb-root