#communication {
	font-size:11px;
}

#communication .communication_user_container {
	background-color: #FAFAFA;
	height:100px; 
	border-bottom:1px #CCC solid; 
	padding:5px;
	overflow: auto;
}

#communication .communication_message_container {
	height:200px; 
	border-bottom:1px #CCC solid; 
	padding:5px;
	overflow: auto;
}

#communication .communication_message_input_container {
	height:50px; 
	padding:5px;
	background-color:#EFEFEF; 
	text-align:center;
}

#communication .user_color {
	width: 12px;
	margin-right: 5px;
}

#communication .user_name {
	
}

#communication .user {
	margin-right: 5px;
	font-weight: bold;
}

#communication .message {
	margin-right: 5px;
}

#communication .timestamp {
	margin-right: 5px;
	color: #CCC;
}