#communication {
	font-size:11px;
}

#communication .communication_user_container {
	background-color: #FAFAFA;
	height:100px; 
	border-bottom:1px #CCC solid; 
	padding:5px;
	overflow: auto;
}

#communication .communication_message_container {
	height:200px; 
	border-bottom:1px #CCC solid; 
	padding:5px;
	overflow: auto;
}

#communication .communication_message_input_container {
	height:50px; 
	padding:5px;
	background-color:#EFEFEF; 
	text-align:center;
}

#communication .communication_user_item:hover{
	background-color:#B3D4FF;
	cursor:pointer;
}

#communication .communication_message_social_area {
	padding:3px;
	text-align:right;
}
#communication .user_color {
	width: 12px;
	margin-right: 5px;
}

#communication .user_name {
	
}

#communication .user {
	margin-right: 5px;
	font-weight: bold;
}

#communication .message {
	margin-right: 5px;
}

#communication .timestamp {
	margin-right: 5px;
	color: #CCC;
}

#slide_url {
	text-align: center;
	padding: 5px;
	font-size: 11px;
	background-color: #EEE;
}

#slide_url input {
	width: 250px;
	border-bottom: 1px solid #DDD;
}

#slide_control {
	text-align: center;
	font-size: 11px;
	background-color: #EEE;
	border-bottom: 1px solid #DDD;
	padding-bottom: 2px;
}
