.help_contents_title{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	color: black;
	font-size: 14px;
	font-weight: bold;
}

.help_contents_subtitle{
	margin-left: 10px;
	margin-right: 10px;
	color: rgb(180,180,180);
	font-size: 13px;
	font-weight: bold;
}

.help_contents_description{
	margin-left: 10px;
	margin-right: 10px;
	color: black;
}

.tips_and_tricks_step {
	padding:10px;
}

.tips_and_tricks_step .subject {
	width:100%;
	height:30px;
	font-size:16px;
	font-weight:bold;
}

.tips_and_tricks_step .media {
	width:340px;
	height:210px;
	margin-right:10px;
	margin-bottom:10px;
	float:left;
}

.tips_and_tricks_step .description {
	width:310px;
	height:210px;
	float:left;	
	margin-bottom:10px;
	font-size:11px;
	line-height:22px;
}

.tips_and_tricks_step .description .title {
	font-size:14px;
	font-weight:bold;
}

.tips_and_tricks_step .additional {
	width:100%;
	height:30px;
	font-size:11px;
	color:#999;
}

#bug_report_iframe {
	width: 100%;
	height: 100%;
}

#help_contents_middle {
	float:right; 
	padding:10px; 
	width:640px; 
	height:490px; 
	text-align:left; 
	border-width:1px; 
	border-style:solid; 
	border-color:#ccc; 
	background-color:#fff; 
	overflow:auto;
	
	font-size: 11px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	
	letter-spacing: normal;
	word-wrap: break-word;
	
	position: relative;
}

#help_contents_middle h1 {
	font-size: 25px;
	margin-bottom: 10px; 
	letter-spacing: normal;
}

#help_contents_middle h2 {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	letter-spacing: normal;
}

#help_contents_middle p {
	line-height: 150%;
	margin-bottom: 10px;
}

#help_contents_middle li {
	list-style: disc;
	margin-left: 20px;
	font-size: 12px;
}

#help_contents_middle strong {
	font-weight: bold;
}

#help_contents_middle pre {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	word-wrap: break-word;
}