#preference_tabview{
	height: 410px;
	background-color: #f2f2f2;
}				

#preference_tabview .yui-content{
	background-color: #f2f2f2;
	
	height:364px;	
}

#preference_tabview .checkbox_div {
	cursor:pointer;
}

#preference_tabview .checkbox_margin {
	vertical-align:middle; 
	margin-top:-2px; 
	margin-right:3px; 
	margin-left:1px;
}

.yui-skin-sam .yui-dialog .ft{
	padding: 10px;
	border-top: 1px solid #ccc;


}

#selected_preference_title{
	padding: 0px 10px 10px 10px;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

#language_body {
	padding:5px;
}

#language_body .button {
	cursor: pointer;
	margin: 5px 0;
	padding: 5px;
	width: 100px;
	text-align: center;
	border: 1px solid #999;
}


/* space */
.dialog_treeview .ygtspacer { 
	width:17px; 
	height:22px; 
}

/* first or middle sibling, no children */
.dialog_treeview .ygtvtn { 
	width:17px; 
	height:22px; 
}

/* first or middle sibling, collapsable */
.dialog_treeview .ygtvtm { 
	width:17px; 
	height:22px; 
	cursor:pointer; 
}

/* first or middle sibling, collapsable, hover */
.dialog_treeview .ygtvtmh { 
	width:17px; 
	height:22px; 
	cursor:pointer; 
}

/* first or middle sibling, expandable */
.dialog_treeview .ygtvtp { 
	width:17px; 
	height:22px; 
	cursor:pointer; 
}

/* first or middle sibling, expandable, hover */
.dialog_treeview .ygtvtph { 
	width:17px; 
	height:22px; 
	cursor:pointer; 
}

/* last sibling, no children */
.dialog_treeview .ygtvln { 
	width:17px; 
	height:22px; 
}

/* Last sibling, collapsable */
.dialog_treeview .ygtvlm { 
	width:17px; 
	height:22px; 
	cursor:pointer; 
}

/* Last sibling, collapsable, hover */
.dialog_treeview .ygtvlmh { 
	width:17px;
	height:22px; 
	cursor:pointer; 
}

/* Last sibling, expandable */
.dialog_treeview .ygtvlp { 
	width:17px; 
	height:22px; 
	cursor:pointer; 
}

/* Last sibling, expandable, hover */
.dialog_treeview .ygtvlph { 
	width:17px; 
	height:22px; 
	cursor:pointer; 
}

/* Loading icon */
.dialog_treeview .ygtvloading { 
	width:17px; 
	height:22px;
}

/* the style for the empty cells that are used for rendering the depth 
 * of the node */
.dialog_treeview .ygtvdepthcell { 
	width:17px; 
	height:22px; 
}

.dialog_treeview .ygtvblankdepthcell { 
	width:17px; 
	height:22px; 
}

/* the style of the div around each node */
.dialog_treeview .ygtvitem { }  

.dialog_treeview .ygtvitem  table{
    margin-bottom:0;
}
.dialog_treeview .ygtvitem  td {
    border:none;
    padding:0;
} 

.dialog_treeview .ygtvfocus { 
	background-color:#B3D4FF;
}

.dialog_treeview .ygtvfocus .ygtvlabel { 
	background-color:#B3D4FF;
}

.dialog_treeview .ygtvcell span:hover {
	background-color:transparent;
}
	

/* the style of the div around each node's collection of children */
.dialog_treeview .ygtvchildren { }  
* html .ygtvchildren { 
	height:1%;
}  

.dialog_treeview .ygtvlabel {
	background-color:transparent;
}

/* the style of the text label in ygTextNode */
.dialog_treeview .ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover { 
	background-color:transparent;
	margin-left:2px;
	text-decoration: none;
}