#property_tabview{
	height: 410px;
	background-color: #f2f2f2;
}				

#property_tabview .yui-content{
	background-color: #f2f2f2;
	
	height:364px;	
}

#property_tabview .checkbox_div {
	cursor:pointer;
}

#property_tabview .checkbox_margin {
	vertical-align:middle; 
	margin-top:-2px; 
	margin-right:3px; 
	margin-left:1px;
}

#selected_property_title{
	padding: 0px 10px 10px 10px;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}