.uml {
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 12px;
}

/*General*/

.general {
	background-color: transparent;
	font-size: 11px;
	height: 100%;
}

.general .label {
	text-align: center;	
	height: 100%;
}

.general .package_box {
	border: 1px solid #666;
	height: 100%;
	margin-left:-1px;
	margin-top:-1px;
	background-color:transparent;	
}

.general .package_shape {
	width: 70%;
	height: 15%;
	border: 1px solid #666;
	background-color:#FFF;
	border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	margin-left:-1px;
	margin-top:-1px;
}

.general .package_shape .package_name {
	margin: 5px;
}

.general .package_space {
	background-color: transparent;
}

.general .note {
	border: 1px solid #666;
	height: 100%;
	border-top-right-radius: 10%;
	-moz-top-bottom-right-radius: 10%;

	background-color: #FFF;	
}

/*Class Diagram*/

.classDiagram {
	background-color: #fff;
	border:1px solid #666;   
	font-size: 11px;
	height: 100%;
	overflow: hidden;
}

.classDiagram .name {
	text-align: center;
	padding: 5px;
	background-color: #EEE;
	font-weight: bold;
}

.classDiagram .attributes {
	border-top: 1px solid #666;
	list-style:none;
	padding:5px;
	margin:0;
	margin-bottom:5px;   
}

.classDiagram .methods {
	border-top: 1px solid #666;
	list-style:none;
	padding:5px;
	margin:0;   
	margin-bottom:5px;   
}

.package {
	background-color: transparent;
   	font-size: 11px;
   	height: 100%;
	margin-left:-1px;
	margin-top:-1px;
}

.package .package_shape {
	width: 30%;
	height: 15%;
	border: 1px solid #666;
	background-color:#FFC;
}

.package .package_box {
	border: 1px solid #666;
	height: 85%;
	margin-top: -1px;
	background-color:#FFC;	
}

.package .package_box .package_name {
	margin: 5px;
}

/* Component Diagram */

.componentDiagram {
	background-color: transparent;
	font-size: 11px;
	height: 100%;
}

.componentDiagram .artifact_box{
	border: 1px solid #666;
	background-color: #FFF;
	height: 100%;
}

.componentDiagram .artifact_name {
	
	text-align: center;
}

.componentDiagram .component_box{
	border: 1px solid #666;
	background-color: #FFF;
	height: 100%;
}

.componentDiagram .component_name {
	
	text-align: center;
}

.componentDiagram .node_box{
	border: 1px solid #666;
	background-color: #FFF;
	height: 100%;
}

.componentDiagram .node_name {
	
	text-align: center;
}


/* State Diagram*/

.stateDiagram {
	background-color: transparent;
	font-size: 11px;
	height: 100%;
}

.stateDiagram .state {
	margin-left:-1px;
	margin-top:-1px;
	border-style: solid;
	border-width: 1px;
	border-color: #666;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	background-color: #EEE;
	height: 100%;
	overflow: hidden;
}

.stateDiagram .name {
	text-align: center;
	border-bottom:1px solid #000;
	font-weight: bold;
	padding: 5px;
}

.stateDiagram .attributes {
	padding: 5px;
}

.stateDiagram .start {
	border-radius: 50%;
	border-style: solid;
	-moz-border-radius: 50%;
	width: 100%;
	height: 100%;
	background-color: black;
}

.stateDiagram .end {
	position: relative;
	border-radius: 50%;
	-moz-border-radius: 50%;
	border-color:#000;
	border-width:2px;
	border-style:solid;
	width: 100%;
	height: 100%;
	background-color: transparent;
	margin-left:-1px;
	margin-top:-1px;
}

.stateDiagram .endcolor {
	position: absolute;
	border-radius: 50%;
	border-width: 0px;
	border-style: solid 1px #000;
	background-color: black;
	width: 80%;
	height: 80%;
	top:50%;
	left:50%;
	margin-top:-40%;
	margin-left:-40%;	
}

.stateDiagram .attribute {
	color: #333;
   	padding: 3px;
   	margin-left:5px;
}

/* Sequence Diagram*/

.sequenceDiagram {
	position: relative;
	background-color: transparent;
	font-size: 11px;
	height: 100%;
}

.sequenceDiagram .object_name {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #666;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #EEE;
	font-weight: bold;
	overflow: hidden;
}

.sequenceDiagram .timeline {
	width: 50%;
	height: 100%;
	border-right: 1px dashed #666;
}

.sequenceDiagram .actor {
	height: 100%;
	width: 100%;
	position: relative;
}

.sequenceDiagram .actor .man {
	height: 92%;
	position: relative;
}

.sequenceDiagram .actor .man .head {
	position:absolute;
	border-radius: 50%;
	-moz-border-radius: 50%;
	border-color:#000;
	border-width:1px;
	border-style:solid;
	width: 30%;
	height: 30%;
	top: 0;
	left: 50%;
	background-color: white;
	margin-left:-15%;
	margin-top:-1px;
}

.sequenceDiagram .actor .man .body {
	position:absolute;
	border:solid #000 1px;
	width: 0px;
	height: 35%;
	top: 30%;
	left: 50%;
	margin-left:-1px;
}

.sequenceDiagram .actor .man .arm {
	position:absolute;
	border:solid #000 1px;
	width: 60%;
	height: 0px;
	top: 45%;
	left: 20%;
}

.sequenceDiagram .actor .man .leftLeg {
	position:absolute;
	width: 70%;
	height: 0px;
	top: 66%;
	left: 50%;
	margin-left:-35%;	
	-moz-transform:rotate(-60deg);
	-webkit-transform:rotate(-60deg);
}

.sequenceDiagram .actor .man .leftLeg .realLeftLeg {
	float:left;
	width:50%;
	border:solid #000 1px;
	margin-left:-2px;
}

.sequenceDiagram .actor .man .rightLeg {
	position:absolute;
	width: 70%;
	height: 0px;
	top: 66%;
	left: 50%;
	margin-left:-35%;	
	-moz-transform:rotate(60deg);
	-webkit-transform:rotate(60deg);
}

.sequenceDiagram .actor .man .rightLeg .realRightLeg {
	float:right;
	width:50%;
	border:solid #000 1px;
	margin-right:-2px;
}

.sequenceDiagram .actor_name {
	text-align: center;
	height:8%;
}

.sequenceDiagram .sequence {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	width: 7px;
	height: 100%;
	overflow: hidden;
}

/* Activity Diagram*/

.activityDiagram {
	color: white;
	background-color: transparent;
	font-size: 11px;
	height: 100%;

}

.activityDiagram .start {
	border-style: solid 1px #000;
	border-radius: 50%;
	-moz-border-radius: 50%;
	width: 100%;
	height: 100%;
	background-color: black;
	
}

.activityDiagram .end {
	position: relative;
	border-radius: 50%;
	-moz-border-radius: 50%;
	border-color:#000;
	border-width:2px;
	border-style:solid;
	width: 100%;
	height: 100%;
	background-color: transparent;
	margin-left:-1px;
	margin-top:-1px;
}

.activityDiagram .endcolor {
	position: absolute;
	border-radius: 50%;
	border-width: 0px;
	border-style: solid 1px #000;
	background-color: black;
	width: 80%;
	height: 80%;
	top:50%;
	left:50%;
	margin-top:-40%;
	margin-left:-40%;	
}

.activityDiagram .activity {
	border-style: solid;
	border-width: 1px;
	border-color: #666;
	border-top-left-radius: 30% 50%;
	border-top-right-radius: 30% 50%;
	border-bottom-left-radius: 30% 50%;
	border-bottom-right-radius: 30% 50%;
	-moz-border-top-left-radius: 30% 50%;
	-moz-border-top-right-radius: 30% 50%;
	-moz-border-bottom-left-radius: 30% 50%;
	-moz-border-bottom-right-radius: 30% 50%;
	background-color: #EEE;
	color: #000;
	font-weight: bold;
	height: 100%;
	text-align: center;
	overflow: hidden;
	margin-left:-1px;
	margin-top:-1px;
}

.activityDiagram .activity .activityName {
	padding-top:8px;
}

.activityDiagram .parallel_vertical {
	border-style: solid;
	width: 100%;
	height: 3%;
	background-color: black;
}

.activityDiagram .parallel_horizontal {
	border-style: solid;
	width: 3%;
	height: 100%;
	background-color: black;
}

/*Usecase Diagram*/


.usecaseDiagram {
   	background-color: #fff;
   	border:1px solid #666;   
   	font-size: 11px;
   	height: 100%;
   	color: black;
   	overflow: hidden;
}

.usecaseDiagram .usecase {
	text-align: center;
   	padding: 5px;
   	height: 20%;
   	font-weight: bold;
   	color: black
   	overflow: hidden;
}

.usecaseDiagram .flows {
	border-top: 1px solid #666;
   	padding:5px;
   	height: 20%;
  	margin:0;
  	margin-bottom:5px;
  	overflow: hidden;   
}

.usecaseDiagram .extensionPoints {
	text-align: center;
	border-top: 1px solid #666;
   	padding:5px;
  	margin:0;
  	margin-bottom:5px;   
}

.usecaseDiagram .usecase_round {
   	height: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #666;
	border-top-left-radius: 50% 50%;
	border-top-right-radius: 50% 50%;
	border-bottom-left-radius: 50% 50%;
	border-bottom-right-radius: 50% 50%;
	-moz-border-top-left-radius: 50% 50%;
	-moz-border-top-right-radius: 50% 50%;
	-moz-border-bottom-left-radius: 50% 50%;
	-moz-border-bottom-right-radius: 50% 50%;
}

/*Arrows & Line end shapes*/

.arrow_up {
	width : 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 3px solid black;
}

.arrow_down {
	width: 0;
	height: 0;
	border-left: 3x solid transparent;
	border-right: 3px solid transparent;
	border-top: 3px solid black;
}

.arrow_right {
	width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 3px solid black;
}

.arrow_left {
	width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-right: 3px solid black;
}








